<div class="container">
  <div class="content-footer">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 custom">
        <h2>About</h2>
        Necessary, making this the first true generator on the Internet. It uses
        a dictionary of over 200 Latin words, combined with
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 custom">
        <h2>Reach at..</h2>
        Location <br />
        Call +01 1234567890 <br />
        demo@gmail.com
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 custom">
        <h2>Subscribe</h2>
        <input type="submit" class="form-control" value="Enter Email" /> <br />
        <button class="form-control">Subscribe</button>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 custom">
        <h2>Contact</h2>
        Necessary, making this the first true generator on the Internet. It uses
        a dictionary of over 200 Latin words, combined with
      </div>
    </div>
    <span class="span-custom">
      2023 All Rights Reserved By Free Html Templates</span
    >
    <br>
    ---
  </div>
</div>
