<div class="container">
  <div class="row custom">
    <div class="col-lg-4 custom">
      <h4 ng-if="showClient">
        <strong
          ><marquee behavior="" direction=""
            >Xin kính chào quý khách !!!</marquee
          ></strong
        >
      </h4>
    </div>
    <div class="col-lg-5 custom"></div>
    <div class="col-lg-3 custom">
      <div ng-if="showLogin" class="header-login">
        <a href="../src/dang-ky.html">Sing up</a> |
        <a href="../src/dang-nhap.html">Login</a>
      </div>
      <div ng-if="showLogout" class="header-login">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            class="rounded-circle"
            width="40px"
            height="40px"
            src="../../server/src/main/resources/static/image/{{avatar}}"
            alt=""
        /></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#thong-tin-ca-nhan">Thông tin cá nhân</a></li>
          <li><a class="dropdown-item" href="./doi-mat-khau.html">Đổi mật khẩu</a></li>
        </ul>
        {{hoTen}} |
        <a ng-click="logOut()" href="../src/dang-nhap.html">Logout</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="../../server/src/main/resources/static/image/logo.png" alt="" />
    </div>
    <div class="col-lg-5">
      <nav class="header_menu">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#trang-chu"
              >Trang chủ</a
            >
          </li>
          <li ng-if="showClient" class="nav-item">
            <a class="nav-link" href="#gioi-thieu">Giới thiệu</a>
          </li>
          <li ng-if="showClient" class="nav-item">
            <a class="nav-link" href="#ve-chung-toi">Về chúng tôi</a>
          </li>
          <li ng-if="showClient" class="nav-item">
            <a class="nav-link" href="#lien-he">Liên hệ</a>
          </li>
          <li ng-if="showAdmin" class="nav-item">
            <a class="nav-link" href="#san-pham">Sản phẩm</a>
          </li>
          <li ng-if="showAdmin" class="nav-item">
            <a class="nav-link" href="#don-hang">Đơn hàng</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="icon-custom">
        <a
          ng-if="showLogout && showClient"
          href="#don-hang-cua-ban"
          data-toggle="tooltip"
          title="Đơn hàng đã mua"
          ><img
            class="icon"
            src="../../server/src/main/resources/static/image/journal-album.svg"
            alt=""
        /></a>
        <a href="#gio-hang" ng-if="showClient" class="cart-fill">
          <span class="position-relative">
            <img
              src="../../server/src/main/resources/static/image/cart3.svg"
              alt=""
            />
            <span
              ng-if="showLogout"
              style="background-color: rgb(255, 0, 0)"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
            >
              <span>{{soLuongSPGioHang}}</span>
              <span class="visually-hidden">unread messages</span>
            </span>
          </span>
        </a>
        <a href="" data-toggle="tooltip" title="Tìm kiếm"
          ><img
            class="icon"
            src="../../server/src/main/resources/static/image/search-heart.svg"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
