<div class="container">
  <h2 style="text-align: center">Chi tiết đơn hàng</h2>
  <div class="row">
    <h5>Mã hóa đơn: {{order.maHD}}</h5>
    <h5>Ngày đặt hàng: {{order.ngayTao | date:'dd/MM/yyyy HH:mm:ss'}}</h5>
    <h5>Thành tiền: {{order.thanhTien.toLocaleString('vi-VN')}} Vnđ</h5>
    <h5>
      Trạng thái: {{order.trangThai == 0 ? 'Chờ xác nhận' : (order.trangThai ==
      1 ? 'Chờ lấy hàng' : (order.trangThai == 2 ? 'Đang giao' : 'Đã giao'))}}
    </h5>
  </div>
  <h4>Hóa đơn chi tiết:</h4>
  <hr />
  <div class="row">
    <div class="col-4"><h4>Sản phẩm</h4></div>
    <div class="col-2"><h4>Đơn giá</h4></div>
    <div class="col-2"><h4>Số lượng</h4></div>
    <div class="col-2"><h4>Thành tiền</h4></div>
  </div>
  <hr />
  <div class="row" ng-repeat="item in order.orderDetails">
    <div class="col-4">
      <h5>
        <img
          src="../../server/src/main/resources/static/image/{{item.image}}"
          width="100px"
          height="100px"
          alt=""
        />
        {{item.tenSP}}
      </h5>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>{{item.donGia.toLocaleString('vi-VN')}} Vnđ</h6>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>{{item.soLuong}}</h6>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>{{(item.donGia * item.soLuong).toLocaleString('vi-VN')}} Vnđ</h6>
    </div>
    <hr />
  </div>

  <div class="row" ng-repeat="item in listGioHangMuaHang">
    <div class="col-4">
      <h5>
        <img
          src="../../../server/src/main/resources/static/image/{{findProductById(item.id).image}}"
          width="150px"
          height="150px"
          alt=""
        />
        {{findProductById(item.id).tenSP}}
      </h5>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>{{findProductById(item.id).donGia.toLocaleString('vi-VN')}} Vnđ</h6>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>{{item.soLuong}}</h6>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <h6>
        {{((findProductById(item.id).donGia) *
        (item.soLuong)).toLocaleString('vi-VN')}} Vnđ
      </h6>
    </div>
    <div class="col-2" style="margin-top: auto; margin-bottom: auto">
      <a href="#mua-hang" type="button" ng-click="deleteGioHang(item.id)"
        ><div
          data-toggle="tooltip"
          title="Xóa khỏi mua hàng"
          class="pencil-custom"
          ng-click="deleteProduct($index)"
        >
          <img
            src="../../server/src/main/resources/static/image/trash3-fill.svg"
            alt=""
          /></div
      ></a>
    </div>
    <hr />
  </div>
</div>
