<div class="container">
  <h1 style="text-align: center">Mua hàng</h1>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr style="text-align: center; background-color: rgb(236, 142, 65)">
          <th scope="col">
            <input
              class="form-check-input"
              ng-click="actionCheckedCha()"
              ng-model="checkboxCha"
              type="checkbox"
            />
          </th>
          <th width="20%">Hình ảnh</th>
          <th scope="col">Tên sản phẩm</th>
          <th width="100px" scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Thành tiền</th>
          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
