<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="content-category">
        <h5>Categories</h5>
        <div class="row radio">
          <label
            ><input
              type="checkbox"
              ng-model="checkboxFather"
              ng-change="selectAll()"
              class="form-check-input"
              name="category"
            />
            Tất cả <br />
          </label>
        </div>
        <div ng-repeat="item in listCategory" class="row radio">
          <label
            ><input
              type="checkbox"
              value="{{item.id}}"
              ng-change="actionChecked()"
              ng-model="checkboxChecked"
              class="form-check-input"
              name="category"
            />
            {{item.ten}} <br />
          </label>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h5>Product</h5>
      <div class="row">
        <div ng-repeat="item in listProducts" class="col-lg-4 col-md-6">
          <div class="card" style="width: 100%">
            <img
              src="../../server/src/main/resources/static/image/{{item.image}}"
              class="card-img-top"
              width="200px"
              height="300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{item.tenSP}}</h5>
              <p class="card-text">
                <b
                  ><span style="color: red"
                    >{{item.donGia.toLocaleString('vi-VN')}} Vnđ</span
                  ></b
                >
              </p>
            </div>
            <div class="content-custom-order">
              <div class="row">
                <div class="icon-custom-order">
                  <a
                    href=""
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <div
                      data-toggle="tooltip"
                      title="Thêm vào giỏ hàng"
                      class="eye-custom order"
                      ng-click="cartAction($event, item.id)"
                    >
                      <img
                        src="../../server/src/main/resources/static/image/cart-plus.svg"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="exampleModalLabel">
              Chi tiết sản phẩm
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6" style="font-size: 18px">
                <label class="label-detail" for=""
                  >- Tên sản phẩm: {{findProductById(idSP).tenSP}}</label
                >
                <br />
                <label for="" class="label-detail"
                  >- Đơn giá:
                  {{findProductById(idSP).donGia.toLocaleString('vi-VN')}}
                  Vnđ</label
                >
                <br />
                <label for="" class="label-detail"
                  >- Số lượng tồn: {{findProductById(idSP).soLuong}}</label
                >
                <br />
              </div>
              <div class="col-6">
                <img
                  src="../../server/src/main/resources/static/image/{{findProductById(idSP).image}}"
                  width="100px"
                  height="100px"
                  alt=""
                />
              </div>
            </div>
            <div class="label-detail">
              Hãy nhập số lượng bạn muốn mua: <br />
              <input
                min="0"
                value="0"
                max="{{findProductById(idSP).soLuong}}"
                step="1"
                class="form-control"
                type="number"
                name=""
                id=""
                ng-model="soLuongMua"
              />
              <br />
              <b style="color: red"
                >Thành tiền: {{(findProductById(idSP).donGia *
                soLuongMua).toLocaleString('vi-VN')}} Vnđ</b
              >
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              ng-click="addToCart($event)"
              class="btn btn-primary"
            >
              Thêm vào giỏ hàng
            </button>
            <button type="button" class="btn btn-primary">Mua ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
