.header-login {
  text-decoration: none;
  color: black;
  float: right;
}

.custom-modal-body {
  text-align: center;
}

#valueImage {
  margin-top: 10px;
}

.header-login a {
  text-decoration: none;
  color: black;
}

.upload-image {
  width: 200px;
  height: 200px;
  border: #050000 1px solid;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0;
}

.col-lg-4.custom,
.col-lg-5.custom,
.col-lg-3.custom {
  margin-top: 10px;
}

.content-custom-order {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content-custom-order a {
  margin-left: 10px;
}

.icon-custom {
  float: left;
}

.icon-custom img {
  margin-left: 15px;
}

.nav-link {
  color: black;
  font-size: 18px;
}

.nav-item {
  margin-top: 10px;
}

footer {
  background-color: rgb(181, 211, 250);
  margin-top: 70px;
}

.label-detail {
  margin-top: 10px;
}

.content-footer {
  margin-top: 30px;
  text-align: center;
}

.col-lg-3.col-md-4.col-sm-6.custom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-custom {
  margin-left: auto;
  margin-right: auto;
  color: red;
}

.giao-hang-nhanh {
  margin-top: 7px;
}

.ho-tro-mua-hang {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

.form-check-input {
  border: 1px solid #050000;
}

th {
  background-color: #ed5d5d;
}

.cam-ket-chat-luong {
  margin-top: 20px;
}

.content-giao-hang {
  margin-top: 30px;
  text-align: center;
}

marquee {
  color: rgb(207, 58, 58);
}

.icon-custom {
  float: right;
  margin-top: 15px;
}

.link-product ul li a {
  font-size: 20px;
  font-weight: 700;
}

.card {
  text-align: center;
  margin-top: 30px;
}

.content {
  margin-left: 10px;
  font-size: 20px;
}

.content-link {
  margin-top: 30px;
}

.row.link-custom {
  margin-top: 10px;
}

.content-san-pham h3 {
  text-align: center;
}

.row.radio {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.eye-custom {
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(92, 177, 99);
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
}

.eye-custom.order{
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(28, 197, 45);
  width: 40px;
  line-height: 35px;
  height: 40px;
  float: left;
  text-align: center;
}
.eye-custom.muahang{
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 144, 46);
  width: 40px;
  line-height: 35px;
  height: 40px;
  float: left;
  text-align: center;
}

.page-custom {
  float: right;
}

.pencil-custom {
  float: left;
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  margin-left: 2px;
}

.title-content {
  text-align: center;
}

.cart-fill {
  text-decoration: none;
}

.thanh-toan {
  float: right;
}

.pencil-custom.order{
  float: left;
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  margin-left: 2px;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: white;
  border: #ddd;
}

.header-login a img{
  max-height: 40px;
}

.nav-link {
  color: rgb(186, 63, 63);
}

.eye-custom-don-hang {
  border: solid 1px;
  border-radius: 7px;
  border: none;
  background-color: rgb(92, 177, 99);
  width: 30px;
  height: 30px;
  line-height: 25px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.header_menu {
  font-weight: 700;
}

